/* styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #65ebb3;
}

header {
    background: #b284bb;
    color: #100b0b;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #060606;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

section {
    margin-bottom: 40px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #6f1e66;
    border-radius: 5px;
}

form button {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background: #555;
}

footer {
    background: #333;
    color: #83338f;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.minha-foto{
    width: 150px; /* Ajuste a largura conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 50%; /* Torna a imagem circular */
    display: block;
    margin: 0 auto; /* Centraliza a imagem */
    border: 2px solid #333; /* Adiciona uma borda à imagem */
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #d18be8;
    border-radius: 5px;
    font-size: 16px;
}

form input[type="tel"],
form input[type="email"] {
    max-width: 100%; /* Garante que os campos não ultrapassem a largura do formulário */
}

form textarea {
    resize: vertical; /* Permite redimensionar a altura da área de texto */
    height: 100px; /* Define uma altura inicial para o campo de observação */
}

form button {
    background: #333;
    color: #4995d3;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

form button:hover {
    background: #555;
}
